* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5; }

.contenedor {
  width: 95%;
  margin: auto;
  color: #eee;
  max-width: 1200px; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #eee;
  transition: all .8s ease; }
  a:hover {
    color: #182c61; }

header {
  width: 100%;
  height: 100px;
  background: #B33771; }
  header .contenedor-header {
    padding: 8px 0px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    header .contenedor-header .menu-mobil {
      display: none; }
    header .contenedor-header .logo {
      font-size: 34px;
      grid-column: span 2; }
      header .contenedor-header .logo p span {
        font-weight: bold;
        color: #182c61; }
      header .contenedor-header .logo .mobil-logo {
        display: none; }
    header .contenedor-header .buscador {
      width: 100%;
      background: #fff;
      position: relative;
      border-radius: 2px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      height: 39px;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 4;
      grid-column-end: 9; }
      header .contenedor-header .buscador input[type='text'] {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        padding: 7px 60px 9px 15px;
        border-radius: 2px;
        background-color: #fff;
        border: 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 39px;
        color: #333;
        font-size: 16px; }
      header .contenedor-header .buscador button {
        border-radius: 0 2px 2px 0;
        width: 46px;
        border: 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        height: 39px;
        font-size: 16px;
        color: #182c61;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all .8s ease;
        padding: 7px 0px 9px 0px;
        position: absolute;
        right: 0;
        top: 0; }
        header .contenedor-header .buscador button:hover {
          background-color: #182c61;
          color: #fff; }
    header .contenedor-header .logo-alerta {
      grid-column-start: 9;
      grid-column-end: 13;
      justify-self: end;
      color: #fff;
      font-size: 20px; }
    header .contenedor-header .enviar-a {
      grid-column: span 2;
      grid-row-start: 2;
      grid-row-end: 3;
      transition: all .8s ease;
      border-radius: 2px;
      border: 1px solid transparent;
      display: grid;
      grid-template-columns: 20% 80%;
      padding: 2.5px;
      cursor: pointer; }
      header .contenedor-header .enviar-a .sub-envios {
        display: none; }
      header .contenedor-header .enviar-a .icon-ubicar {
        height: 100%;
        font-size: 35px;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: center;
        color: #182c61; }
      header .contenedor-header .enviar-a span {
        display: block;
        font-size: 14px;
        width: 100%;
        color: #333;
        grid-column-start: 2;
        grid-column-end: 3; }
      header .contenedor-header .enviar-a p {
        display: block;
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 3; }
      header .contenedor-header .enviar-a:hover {
        border-color: #182c61; }
    header .contenedor-header .menu-principal-web {
      grid-column-start: 4;
      grid-column-end: 9;
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 14px; }
      header .contenedor-header .menu-principal-web li {
        cursor: pointer;
        transition: all .8s ease;
        color: #eee; }
        header .contenedor-header .menu-principal-web li:hover {
          color: #182c61; }
    header .contenedor-header .menu-usuario-web {
      grid-column-start: 9;
      grid-column-end: 13;
      justify-self: end;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      font-size: 14px; }
      header .contenedor-header .menu-usuario-web li {
        margin: 0 7px;
        cursor: pointer;
        transition: all .8s ease;
        color: #eee; }
        header .contenedor-header .menu-usuario-web li:hover {
          color: #182c61; }

@media (max-width: 1075px) {
  header .contenedor-header .menu-principal-web li.medio-none {
    display: none; } }
@media (max-width: 1023px) {
  header .contenedor-header {
    grid-template-columns: 165px repeat(11, 1fr);
    grid-gap: 5px; }
    header .contenedor-header .logo {
      grid-column: span 1; }
    header .contenedor-header .logo-alerta {
      display: none; }
    header .contenedor-header .menu-principal-web {
      display: none; }
    header .contenedor-header .menu-mobil {
      display: block;
      grid-column-start: 12;
      grid-column-end: 13;
      text-align: end; }
      header .contenedor-header .menu-mobil i {
        font-size: 26px;
        transition: all .8s ease; }
      header .contenedor-header .menu-mobil:hover {
        cursor: pointer; }
        header .contenedor-header .menu-mobil:hover i {
          color: #182c61; }
    header .contenedor-header .buscador {
      grid-column-start: 2;
      grid-column-end: 11; }
    header .contenedor-header .menu-usuario-web {
      grid-column-start: 11;
      grid-column-end: 12;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-content: end; }
      header .contenedor-header .menu-usuario-web li {
        text-align: center;
        font-size: 26px; }
        header .contenedor-header .menu-usuario-web li.media {
          display: none; }
    header .contenedor-header .enviar-a {
      grid-column: span 12;
      grid-template-columns: 30px 70px repeat(10, 1fr); }
      header .contenedor-header .enviar-a:hover {
        border-color: transparent; }
      header .contenedor-header .enviar-a .icon-ubicar {
        font-size: 24px; }
      header .contenedor-header .enviar-a .sub-envios {
        display: block;
        align-self: center;
        justify-self: end;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 12;
        grid-column-end: 13;
        transition: all .8s ease; }
        header .contenedor-header .enviar-a .sub-envios:hover {
          color: #182c61; }
      header .contenedor-header .enviar-a span {
        align-self: center;
        justify-self: start;
        grid-row-start: 1;
        grid-row-end: 3; }
      header .contenedor-header .enviar-a p {
        align-self: center;
        justify-self: start;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 11; } }
@media (max-width: 600px) {
  header .contenedor-header {
    grid-template-columns: 55px repeat(11, 1fr); }
    header .contenedor-header .logo .mobil-logo {
      display: block; }
    header .contenedor-header .logo .desktop-logo {
      display: none; } }
.banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
  text-align: center; }
  .banner img {
    width: 100%;
    display: block;
    height: 300px;
    flex: 0 0 auto;
    margin: auto;
    transform: scale(1.25); }

.ofertas {
  width: 100%; }
  .ofertas .contenedor-ofertas {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-between;
    grid-gap: 20px;
    margin: 20px auto; }
    .ofertas .contenedor-ofertas .subtitulo {
      grid-column: span 12;
      display: block;
      font-weight: 300;
      color: #666;
      margin: 8px 0px 8px 8px;
      font-size: 16px;
      line-height: 1.13;
      letter-spacing: 1.6px;
      text-transform: uppercase; }
    .ofertas .contenedor-ofertas .caja-4,
    .ofertas .contenedor-ofertas .caja-6,
    .ofertas .contenedor-ofertas .caja-12 {
      height: 236px;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
      cursor: pointer;
      transition: all .5s ease;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .ofertas .contenedor-ofertas .caja-4 .portada-oferta,
      .ofertas .contenedor-ofertas .caja-6 .portada-oferta,
      .ofertas .contenedor-ofertas .caja-12 .portada-oferta {
        width: 48%;
        height: 186px;
        margin: 0;
        align-self: center;
        text-align: center; }
        .ofertas .contenedor-ofertas .caja-4 .portada-oferta img,
        .ofertas .contenedor-ofertas .caja-6 .portada-oferta img,
        .ofertas .contenedor-ofertas .caja-12 .portada-oferta img {
          height: 100%;
          margin: auto; }
      .ofertas .contenedor-ofertas .caja-4 .texto-oferta,
      .ofertas .contenedor-ofertas .caja-6 .texto-oferta,
      .ofertas .contenedor-ofertas .caja-12 .texto-oferta {
        width: 40%;
        height: 100%;
        padding: 50px 15px 50px 0;
        margin: 0;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .ofertas .contenedor-ofertas .caja-4 .texto-oferta .pre-titulo,
        .ofertas .contenedor-ofertas .caja-6 .texto-oferta .pre-titulo,
        .ofertas .contenedor-ofertas .caja-12 .texto-oferta .pre-titulo {
          margin: 0;
          overflow: hidden;
          letter-spacing: 1.6px;
          font-size: 14px;
          font-weight: 500;
          color: #4a4a4a;
          text-transform: uppercase;
          display: block;
          text-align: left; }
        .ofertas .contenedor-ofertas .caja-4 .texto-oferta .porcentaje-oferta,
        .ofertas .contenedor-ofertas .caja-6 .texto-oferta .porcentaje-oferta,
        .ofertas .contenedor-ofertas .caja-12 .texto-oferta .porcentaje-oferta {
          padding: 9px 0px 0px;
          font-size: 28.8px;
          line-height: 0.88;
          letter-spacing: normal;
          font-weight: 700;
          color: #4a4a4a;
          text-transform: uppercase;
          text-align: left; }
        .ofertas .contenedor-ofertas .caja-4 .texto-oferta .titulo-oferta,
        .ofertas .contenedor-ofertas .caja-6 .texto-oferta .titulo-oferta,
        .ofertas .contenedor-ofertas .caja-12 .texto-oferta .titulo-oferta {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: normal;
          overflow: hidden;
          text-transform: uppercase;
          margin: 9px 0 0;
          line-height: 1.2;
          color: #4a4a4a;
          text-align: left; }
        .ofertas .contenedor-ofertas .caja-4 .texto-oferta .ver-oferta,
        .ofertas .contenedor-ofertas .caja-6 .texto-oferta .ver-oferta,
        .ofertas .contenedor-ofertas .caja-12 .texto-oferta .ver-oferta {
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: normal;
          color: #182c61;
          display: block;
          margin: 15px 0 0;
          transition: all .5s ease;
          text-align: left; }
          .ofertas .contenedor-ofertas .caja-4 .texto-oferta .ver-oferta:hover,
          .ofertas .contenedor-ofertas .caja-6 .texto-oferta .ver-oferta:hover,
          .ofertas .contenedor-ofertas .caja-12 .texto-oferta .ver-oferta:hover {
            color: #B33771; }
      .ofertas .contenedor-ofertas .caja-4:hover,
      .ofertas .contenedor-ofertas .caja-6:hover,
      .ofertas .contenedor-ofertas .caja-12:hover {
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.16); }
    .ofertas .contenedor-ofertas .caja-4 {
      grid-column: span 4; }
    .ofertas .contenedor-ofertas .caja-6 {
      grid-column: span 6; }
    .ofertas .contenedor-ofertas .caja-12 {
      grid-column: span 12; }
    .ofertas .contenedor-ofertas .caja-2 {
      height: 236px;
      grid-column: span 2;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
      cursor: pointer;
      transition: all .5s ease; }
      .ofertas .contenedor-ofertas .caja-2 .portada-oferta {
        width: 100%;
        height: 100px;
        padding: 0 20px;
        margin: 20px 0 12px;
        text-align: center; }
        .ofertas .contenedor-ofertas .caja-2 .portada-oferta img {
          max-width: 100%;
          height: 100px;
          margin: 0 auto; }
      .ofertas .contenedor-ofertas .caja-2 .texto-oferta {
        width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-self: center; }
        .ofertas .contenedor-ofertas .caja-2 .texto-oferta .pre-titulo {
          margin: 0;
          overflow: hidden;
          letter-spacing: 1.6px;
          font-size: 14px;
          font-weight: 500;
          color: #4a4a4a;
          text-transform: uppercase;
          display: block; }
        .ofertas .contenedor-ofertas .caja-2 .texto-oferta .porcentaje-oferta {
          padding: 9px 0px 0px;
          font-size: 24px;
          line-height: 1;
          letter-spacing: normal;
          font-weight: 700;
          color: #4a4a4a;
          text-transform: uppercase; }
        .ofertas .contenedor-ofertas .caja-2 .texto-oferta .titulo-oferta {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: normal;
          overflow: hidden;
          text-transform: uppercase;
          margin: 9px 0 0;
          line-height: 1.2;
          color: #4a4a4a; }
        .ofertas .contenedor-ofertas .caja-2 .texto-oferta .ver-oferta {
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: normal;
          color: #182c61;
          display: block;
          margin: 5px 0 0;
          transition: all .5s ease; }
          .ofertas .contenedor-ofertas .caja-2 .texto-oferta .ver-oferta:hover {
            color: #B33771; }
      .ofertas .contenedor-ofertas .caja-2:hover {
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.16); }

@media (max-width: 1023px) {
  .ofertas .contenedor-ofertas .caja-4,
  .ofertas .contenedor-ofertas .caja-2 {
    grid-column: span 6; }
  .ofertas .contenedor-ofertas .caja-6 {
    grid-column: span 12; } }
@media (max-width: 764px) {
  .ofertas .contenedor-ofertas .caja-4 {
    grid-column: span 12; } }
.productos {
  width: 100%; }
  .productos .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 10px; }
    .productos .contenedor-productos .subtitulo {
      grid-column: span 20;
      font-weight: 300;
      color: #666;
      margin: 8px 0px 8px 8px;
      font-size: 16px;
      line-height: 1.13;
      letter-spacing: 1.6px;
      text-transform: uppercase; }
    .productos .contenedor-productos .producto {
      background: #fff;
      padding: 18px;
      grid-column: span 4;
      border-radius: 6px;
      border: 1px solid #eeeeee;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12);
      transition: all .5s ease;
      cursor: pointer;
      gap: 14px;
      display: grid;
      grid-template: "img" min-content "titulo" min-content  "precio" / 1fr;
      text-align: center; }
      .productos .contenedor-productos .producto .portada-producto {
        grid-area: img;
        place-self: center;
        display: block;
        position: relative;
        width: 100%;
        margin: 0; }
        .productos .contenedor-productos .producto .portada-producto .img-producto {
          height: 100%;
          max-width: 100%; }
      .productos .contenedor-productos .producto .nombre-producto {
        font-size: 14px;
        grid-area: titulo;
        font-weight: normal;
        line-height: 20px;
        height: 40px;
        letter-spacing: -0.18px;
        text-align: center;
        color: black; }
      .productos .contenedor-productos .producto .precio-producto .precio-anterior {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; }
        .productos .contenedor-productos .producto .precio-producto .precio-anterior .precio-tachado {
          font-size: 18px;
          text-decoration: line-through;
          line-height: 1.66;
          letter-spacing: -0.26px;
          color: #888888;
          align-self: center;
          margin-right: 3px; }
        .productos .contenedor-productos .producto .precio-producto .precio-anterior .descuento-precio {
          font-size: 15px;
          background-color: #B33771;
          padding: 2px 3px;
          border-radius: 2px;
          color: #fff;
          align-self: center; }
      .productos .contenedor-productos .producto .precio-producto .actual-precio {
        display: block;
        font-size: 22px;
        margin-top: 5px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.32px;
        color: #000; }
      .productos .contenedor-productos .producto:hover {
        box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.16); }

.categorias {
  padding-top: 30px;
  width: 100%; }
  .categorias .contenedor-categorias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .categorias .contenedor-categorias .subtitulo {
      width: 100%;
      display: block;
      font-weight: 300;
      color: #666;
      margin: 8px 0px 8px 8px;
      font-size: 16px;
      line-height: 1.13;
      letter-spacing: 1.6px;
      text-transform: uppercase; }
    .categorias .contenedor-categorias .categoria {
      display: block;
      width: 145px;
      height: 185px;
      cursor: pointer; }
      .categorias .contenedor-categorias .categoria .cont-img-cat {
        position: relative;
        width: 100%;
        border-radius: 100%;
        margin: 0px;
        transition: all .8s ease-in;
        background-color: white;
        box-shadow: 0px 0px 0px 0px #fff; }
        .categorias .contenedor-categorias .categoria .cont-img-cat:hover {
          box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.16); }
        .categorias .contenedor-categorias .categoria .cont-img-cat .img-categoria {
          max-width: 100%;
          height: auto; }
      .categorias .contenedor-categorias .categoria .nombre-categoria {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 1.33;
        letter-spacing: -0.3px;
        text-align: center;
        color: #484848;
        padding-top: 10px; }

.footer {
  width: 100%;
  border-top: 1px solid #dadada;
  background: #fff;
  padding: 50px 0px; }
  .footer .contenedor-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .footer .contenedor-footer .fila {
      width: 100%;
      padding-bottom: 15px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 20px; }
      .footer .contenedor-footer .fila:nth-child(1) {
        border-bottom: 1px solid #dadada; }
      .footer .contenedor-footer .fila:nth-child(2) {
        padding-top: 15px; }
      .footer .contenedor-footer .fila .columna {
        grid-column: span 3;
        display: flex;
        flex-direction: column; }
        .footer .contenedor-footer .fila .columna .logo {
          color: #4a4a4a;
          font-size: 34px;
          grid-column: span 2; }
          .footer .contenedor-footer .fila .columna .logo p span {
            font-weight: bold;
            color: #182c61; }
        .footer .contenedor-footer .fila .columna .redes-sociales {
          width: 100%;
          margin-top: 15px;
          display: flex;
          flex-direction: row; }
          .footer .contenedor-footer .fila .columna .redes-sociales li {
            margin-right: 20px; }
            .footer .contenedor-footer .fila .columna .redes-sociales li a {
              color: #4a4a4a; }
              .footer .contenedor-footer .fila .columna .redes-sociales li a:hover {
                color: #B33771; }
        .footer .contenedor-footer .fila .columna p {
          margin-bottom: 5px;
          color: #444643; }
          .footer .contenedor-footer .fila .columna p.titulo-fila {
            font-size: 15px;
            letter-spacing: -0.5px;
            color: #000;
            display: flex;
            font-weight: 400;
            line-height: 1;
            margin-bottom: 5px;
            margin-top: 0px;
            margin-right: 5px;
            text-align: left; }
          .footer .contenedor-footer .fila .columna p.subtitulo-fila {
            display: flex;
            font-size: 18px;
            line-height: 1;
            font-weight: 500;
            white-space: nowrap;
            color: #000; }
          .footer .contenedor-footer .fila .columna p.contenido-fila {
            font-size: 13px;
            font-weight: 400;
            line-height: 1.4;
            color: #4a4a4a;
            text-align: left; }
        .footer .contenedor-footer .fila .columna label {
          margin: 3.5px 0;
          color: black;
          font-size: 18px;
          font-weight: 500; }
        .footer .contenedor-footer .fila .columna input {
          margin: 3.5px 0; }
          .footer .contenedor-footer .fila .columna input[type='email'] {
            padding: 10px;
            outline: none;
            border: 1px solid #cccccc;
            font-size: 14px;
            font-weight: 400;
            color: #4a4a4a;
            border-radius: 2px;
            margin-right: 9px;
            margin-bottom: 13px; }
          .footer .contenedor-footer .fila .columna input[type='submit'] {
            background-color: #182c61;
            color: white;
            padding: 10px;
            border: none;
            margin-right: 9px;
            cursor: pointer;
            transition: all .5s ease; }
            .footer .contenedor-footer .fila .columna input[type='submit']:hover {
              box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.16); }
        .footer .contenedor-footer .fila .columna .lista-footer li {
          margin: 5px 0; }
          .footer .contenedor-footer .fila .columna .lista-footer li a {
            padding: 7px 0px;
            color: #4a4a4a;
            line-height: 1.07;
            letter-spacing: 0.2px;
            font-size: 14px;
            font-weight: 400;
            transition: all .8s ease; }
            .footer .contenedor-footer .fila .columna .lista-footer li a:hover {
              text-decoration: underline; }

@media (max-width: 978px) {
  .footer .contenedor-footer .fila .columna {
    grid-column: span 6;
    margin-top: 15px; } }
@media (max-width: 500px) {
  .footer .contenedor-footer .fila .columna {
    grid-column: span 12;
    margin-top: 15px; }
    .footer .contenedor-footer .fila .columna.logo-redes {
      text-align: center; }
      .footer .contenedor-footer .fila .columna.logo-redes .redes-sociales {
        justify-content: center; }
    .footer .contenedor-footer .fila .columna.creditos, .footer .contenedor-footer .fila .columna.venta-telefonica, .footer .contenedor-footer .fila .columna.recomendados, .footer .contenedor-footer .fila .columna.ayuda, .footer .contenedor-footer .fila .columna.comprar {
      display: none; } }

/*# sourceMappingURL=main.css.map */
